#meme-image-container {
  border: solid;
  background: white;
  color: black;
  height: 400px;
  margin: 1px;
  width: 400px;
}

#meme-text {
  display: inline-block;
  font-size: 35px;
  height: 160px;
  left: 20px;
  overflow: hidden;
  position: absolute;
  width: 300px;
  word-wrap: break-word;
  text-overflow: ellipsis;
}