#meme-text {
  display: inline-block;
  max-width: 400px;
  overflow: hidden;
  position: absolute;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

#meme-image {
  border: solid;
  background: white;
  color: black;
  height: 400px;
  margin: 1px;
  width: 400px;
}

#text-input {}