
.style-image {
  padding-left: 5px;
  padding-top: 5px;
}

.style-text {
  height: 130px;
  left: 55px;
  margin-bottom: 5px;
  position: absolute;
  top: 500px;
  width: 350px;
  word-break: break-all;
}

.image-container {
  background-color: white;
  border: 1px solid black;
  height: 450px;
  width: 450px;
}

.buttons-container {
  padding-bottom: 10px;
  padding-top: 10px;
}

.imageSeparator {
  cursor: pointer ;
  padding-right: 5px;
}

.carrossel {
  padding-top: 15px;
}
