body{
  background-color: green;
}

.img-container {
  background-color: white;
  border: 1px solid black;
  display: flex;
  height: 400px;
  width: 400px;
}

.meme-txt {
  height: 130px;
  position: absolute;
  top: 500px;
  width: 350px;
  word-break: break-all;
}

.repartir{
  height: 160px;
  width: 800px;
}

.trinta{
  cursor: pointer;
  height: 100%;
  width: 20%;
}
