#meme-image-container {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 500px;
    overflow: hidden;
    position: relative;
    word-break: normal;
}
h1 {
    text-decoration: underline;
}
#meme-text {
    bottom: 0;
    color: white;
    font-size: 60px;
    position: absolute;
    text-align: center ;
    width: 100%;
    word-break: break-all;
}
#meme-image {
    height: 100%;
    width: 100%;
}
